.admin-list-wrapper{
	display: flex;
	flex-direction: column;
	
	&-header{
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid rgba(0, 0, 0, 0.08);
		padding: 8px 35px;
		&__title{
			font-family: 'Poppins';
			font-style: normal;
			font-weight: 500;
			font-size: 22px;
			line-height: 100%;
			color: rgba(51, 51, 51, 0.8)
		}
		&-button{
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			color: #3661ED;
			outline: none;
			background: transparent;
			border: none;
			cursor: pointer;
			display: flex;
			align-items: center;
			padding: 10px 7px 10px 15px;
			&__text{
				margin-right: 7px;
			}
		}
	}

	&-bar{
		display: flex;
		align-items: center;
		background: #E4E9F8;
		padding: 7px 20px;
		&-item{
			
			&__text{
				font-family: 'Poppins' ; 
				font-style: normal;
 				font-weight: 500;
				font-size: 14px;
				line-height: 21px;
				color: #000000;
				opacity: 0.6;

				&:nth-child(1){
					margin-right: 50px;
				}
			}

			&:nth-child(1){
				width: 34%;
			}
			&:nth-child(2){
				width: 24%;
			}

			&:nth-child(3){
				width: 19.5%;
			}
	
		}
	}
}