@import '../../assets/style/index.scss';

.sidebar {
	background: $background;
	border-right: 1px solid rgba(0, 0, 0, 0.05);
	height: 100vh;
	padding-top: 25px;
	min-width: 241px;
	position: relative;

	&-logo {
		margin-left: 40px;
		margin-bottom: 75px;
	}

	.sidebar-setting{
		width: 100%;
		position: relative;
		&-btn{
			display: flex;
			align-items: center;
			width: 100%;
			outline: none;
			border: none;
			background-color: transparent;
			justify-content: space-between;
			padding: 13px 30px;
			border-left: 4px solid transparent ;
			&-inner{
				display: flex;
				align-items: center;
				&__icon{
					width: 24px;
					height: 24px;
				}

				&__text{
					font-family: 'Poppins';
					font-style: normal;
					font-weight: 500;
					font-size: 18px;
					line-height: 100%;
					color: #000000;
				}
			}
			&__arrowIcon{
				width: 24px;
				height: 24px;

			}

			&:hover{
				background: #F7F8FE;
				border-left: 4px solid #3661ED;
				svg{
					path{
						stroke: $blue;
					}
				}
			}
		}
		// .sidebarBtn{
		// 	position: relative;
		// 	margin-bottom: 0px !important;
		// 	&:hover{
		// 		.sidebarBtn__settingsIcon{

		// 			
		// 		}
		// 	}
		// 	&.active{

		// 		.sidebarBtn__settingsIcon{
		// 			transform: rotate(180deg) !important;
		// 			top: 12px !important;
		// 			svg{
		
		// 				path{
		// 					stroke: $blue;
		// 				}
		// 			}
		// 		}
		// 	}
		// 	&__settingsIcon{
		// 		position: absolute;
		// 		right: 30px;
		// 		top: 18px;
		// 		transition: ease-in-out 0.3s;
		// 	}
		// }


		&-menu{
			display: flex;
			flex-direction: column;
			height: 0;
			overflow: hidden;
			&.active{
				height: 100%;
				visibility: visible;
			}
			&__button{
				font-family: 'Poppins';
				font-style: normal;
				font-weight: 500;
				font-size: 18px;
				line-height: 100%;
				color: #000000;
				border: none;
				outline: none;
				background: #FFFFFF;
				opacity: 0.6;
				cursor: pointer;
				padding-top: 16px;
				padding-bottom: 16px;
				padding-left: 50px;
				text-align: left;

				&:hover{
					background: rgba(0, 0, 0, 0.05);
					opacity: 0.6;
				}
			}
		}
	}
}